{% extends 'core/base.html' %}
{% block content %}
<h2>Pagos</h2>
<a href="{% url 'crear_pago' %}" class="btn btn-success mb-3">+ Nuevo pago</a>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Cuenta</th>
            <th>Proveedor</th>
            <th>Fecha</th>
            <th>Monto</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        {% for pago in pagos %}
        <tr>
            <td>{{ pago.cuenta.nro_documento }}</td>
            <td>{{ pago.cuenta.proveedor.nombre }}</td>
            <td>{{ pago.fecha_pago }}</td>
            <td>{{ pago.monto_pagado }}</td>
            <td>
                <a href="{% url 'eliminar_pago' pago.pago_id %}" class="btn btn-sm btn-danger"
                       onclick="return confirm('¿Estás seguro de eliminar este pago?')">Eliminar</a>
            </td>
        </tr>
        {% empty %}
        <tr><td colspan="5">No hay pagos registrados</td></tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}